header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000; /* 数値は適宜調整してください */
    background-color: #FFFFE0; /* 淡い黄色に設定 */
      
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
  }
  
  nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-left, .header-right {
    display: flex;
    align-items: center;
  }
  
  .hamburger-menu {
    margin-right: 20px;
  }
  
  .search-bar input {
    height: 30px;
    width: 200px;
    padding: 5px;
    font-size: 16px;
  }

  .header-logo {
    height: 70px; /* 高さを50pxに設定（適宜調整） */
    width: auto;  /* 幅を自動的に調整してアスペクト比を維持 */
    max-height: 100%;
  }
  
  .search-bar input {
    /* ... */
    border-radius: 600px; /* 丸みの大きさを適宜調整してください */
    /* ... */
  }
  